INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=supersecrettoken
INFLUX_ORG=tsms
INFLUX_BUCKET=tutorial

TIMESCALE_HOST=localhost
TIMESCALE_PORT=5432
TIMESCALE_DB=tsms
TIMESCALE_USER=tsms
TIMESCALE_PASSWORD=tsms123

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=tsms
CLICKHOUSE_USER=tsms
CLICKHOUSE_PASSWORD=tsms123
